body{
     background: rgba(0, 180, 213, 0.9); /* Old browsers */
     background: -moz-linear-gradient(top, rgba(0, 180, 213, 0.9) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(0, 180, 213, 0.9) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(0, 180, 213, 0.9) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4d5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#react {
  display:block;
  width:100%;
  height:100%;
  position: absolute;
}
.app {
  display: flex;
  flex-direction: column;
  opacity: 1 !important;
  position: relative;
  transition: opacity 0.5s;

  &__main {

  }

  &__container {
    @include app-container();
    min-width:550px;
    margin: 0 auto;

  }

  &__route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__logout {
    span {
      margin-right: $grid-gutter-width / 6;
    }
  }
}
@media only screen and (max-width: 680px) {
     .app {

       &__container {
         padding:5px;
         margin: 0 auto;
         width:100%;
       }

     }
}
